@import 'reset.scss';
@import 'variables/index.scss';
@import 'mixins/responsive.scss';

// выношу дефолтные текстовые стили
html {
  // TODO: Добавить шрифт Roboto
  color: $black;
  font-size: $font-size-xs;
  font-weight: 400;
}

// базовые классы
.visually-hidden {
  opacity: 0;
  width: 0;
  margin: 0;
}
