$white: #ffffff;
$black: #000000;

$gray-light: #f2f2f2;
$gray-medium: #a6a6a6;
$gray-dark: #595959;

$accent-color: #ff335f;
$button-hover-color: #ff446d;
$button-active-color: #e1264f;

$error: #ff3b30;
