$white: #ffffff;
$black: #000000;

$gray-light: #f2f2f2;
$gray-medium: #a6a6a6;
$gray-dark: #595959;

$gray-soft: #f5f5f5;
$gray-softer: #f8f9fa;
$gray-page: #f9f9f9;
$gray-border: #eeeeee;
$gray-border-muted: #cccccc;
$gray-text-muted: #666666;

// Оттенки ошибок
$error-soft: #fff3f3;
$error-strong: #ff4444;
$error-dark: #cc0000;

$accent-color: #ff335f;
$button-hover-color: #ff446d;
$button-active-color: #e1264f;

$error: #ff3b30;
