$font-size-xxs: 0.688rem;
$font-size-xs: 0.75rem;
$font-size-s: 0.938rem;
$font-size-m: 1.125rem;
$font-size-l: 1.5rem;

$font-weight-default: 400;
$font-weight-bold: 500;
$font-weight-extra-bold: 600;

$font-family-sans: Roboto, sans-serif;

$line-height-default: 100%;
$line-height-s: 0.813rem;
$line-height-m: 1.125rem;
$line-height-l: 1.375rem;
$line-height-xl: 2rem;

$letter-spacing-card-data: 0.063rem;
